.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}
body {
  background-color: #d9d9d9;
  color: black;
}
.btn {
  color: black;
  background-color: red;
}
img {
  border-radius: 20%;
}
#python, #tendiesclass, #actualvacation {
  display: none;
}
